<div class="form">
    <div class="contacto-form marginsecciones">
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eveniet amet necessitatibus ex. Sequi odit in porro veritatis quasi, voluptatibus blanditiis dignissimos corporis culpa laudantium sint ipsum. Ab, doloremque quas!</p>
    </div>

    <form style="width: 70%; background: rgb(236, 236, 236);" class="m-auto">
        <div class="form-group d-flex pt-3">
            <label for="exampleInputEmail1" class="m-auto pl-4 pr-0 label-contacto">Your E-mail</label>
            <input type="email" class="form-control mr-2 w-75" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>
        <div class="form-group d-flex">
            <label for="exampleInputPassword1" class="pl-4 mx-auto label-contacto pt-1">Your Message</label>
            <textarea name="" class="form-control mr-2 w-75" rows="3" placeholder="Please enter your message here..."></textarea>
        </div>


        <div class="col-auto my-1 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mb-3 mr-0">Submit</button>
        </div>
    </form>

</div>

