<!-- your html code here -->
<div class="container-fluid  mb-0 mt-0">
    <div class="card border-0">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body border-0">
                    <h1 class="card-title border-0">The First Heading Will Catch You Eye</h1>
                    <p class="card-text border-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="col-md-4 border-0"> 
            <div class="card mb-3 border-0" style="max-width: 400px;">
            <img src="/website1/assets/img/1.jpg" class="img-fluid rounded-circle rounded-end border-0" alt="firstheading">
            </div>
            </div>     
        </div>
    </div>
</div>



