<!-- your html code here -->
<div class="container-fluid">
    <div class="services d-flex marginsecciones p-5 border-bottom">
        <img src="/website1/assets/img/2.jpg" alt="" class="rounded-circle" style="height: 320px; width: 300px;">
        <div class="contenido-services">
            <h1 style="display:inline">The second heading</h1><h1 class="text-secondary" style="display:inline;"> is pretty cool too</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quo excepturi dignissimos inventore doloribus earum, cumque vel recusandae cupiditate maxime amet ullam rem sed itaque expedita voluptates error repellat veritatis.</p>
        </div>
    </div>
</div>