<!-- your html code here -->
<div class="container-fluid m-0">
    <div class="row pl-0 pr-0 mb-0">
        <div class="col-12 pl-0 pr-0 mb-0">
            <img class="img-fluid h-75 w-100"
                src="/website1/assets/img/bg.jpg"
                alt="Imageoverlay" style="object-fit: fill;">
            <div class="card-img-overlay">
                <h1 class="card-title bg-light text-center fs-1">One Page Wonder</h1>
                    <h3 class="card-title bg bg-light text-center fs-2">Will Knocks Your Socks Off</h3>
            </div>
        </div>
    </div>
</div>